<!DOCTYPE html>
<html lang="en">


    <%- include('../sup/headr.ejs')%>
<body>
    <div class="page  d-felx">
    
        <%- include('../sup/dr_dashbord.ejs')%>

        
        <div class="content">

            <%- include('../sup/user_options.ejs') %> 
           
        </div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>