<div class="sidebar p-20  bg-w ">
    <h3 class="m-0">Doct.</h3>
    <ul class="pt-20 ul_none" id="nav_bar">
        <li>
            <a class="" href="index">
                <i class="fa-solid fa-house"></i>
                <span>Overview</span>
            </a>
        </li>
        <li>
            <a class="" href="appointment">
                <i class="fa-regular fa-calendar-check"></i>
                <span>Appointment</span>
            </a>
        </li>
        <li>
            <a class="" href="HealthPractitioner">
                <i class="fa-solid fa-grip"></i>
                <span>Health Practitioner</span>
            </a>
        </li>
        <li>
            <a class="" href="clinics">
                <i class="fa-solid fa-circle-h"></i>
                <span>CLINICS</span>
            </a>
        </li>
        <li>
            <a class="" href="Diagnosis">
                <i class="fa-solid fa-stethoscope"></i>
                <span>Diagnosis</span>
            </a>
        </li>
        <li>
            <a class="" href="Servives">
                <i class="fa-solid fa-grip"></i>
                <span>Servives</span>
            </a>
        </li>
        
        <li>
            <a class="" href="Radiology">
                <i class="fa-solid fa-x-ray"></i>
                <span>X-ray</span>
            </a>
        </li>

        <li>
            <a class="" href="lab">
                <i class="fa-solid fa-flask"></i>
                <span>Lab Services</span>
            </a>
        </li>
        
        <li>
            <a class="" href="Schedule Timing.html">
                <i class="fa-solid fa-house"></i>
                <span>Schedule Timing</span>
            </a>
        </li>
        <li>
            <a class="" href="Payments.html">
                <i class="fa-solid fa-house"></i>
                <span>Payments</span>
            </a>
        </li>
        <li>
            <a class="" href="Message.html">
                <i class="fa-solid fa-house"></i>
                <span>Message</span>
            </a>
        </li>
        <li>
            <a class="" href="Setting.html">
                <i class="fa-solid fa-gear"></i>
                <span>Setting</span>
            </a>
        </li>
        <li>
            <a class="" href="logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Exit</span>
            </a>
        </li>
        
    </ul>
</div>