<div class="head">
                
    <div class="search_ar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search">
        <button class="search_doc">Search</button>

    </div>

    <div class="ball" onclick="show_optios()">
        <i class="fa-solid fa-bell"></i>
        
            <img src="img/1.jpeg" alt="" width="40px" height="40px" >

           
            <h4><%= name%></h4>
        
            <a href="logout">Log Out</a>

    </div>


   

   
</div>