<div class="sidebar p-20  bg-w ">
    <h3 class="m-0">Doct.</h3>
    <ul class="pt-20 ul_none" id="nav_bar">
        <li>
            <a class="" href="index_x_ray">
                <i class="fa-solid fa-house"></i>
                <span>Overview</span>
            </a>
        </li>
       
        
        
        
        <li>
            <a class="" href="x_ray_Servives">
                <i class="fa-solid fa-grip"></i>
                <span>Servives</span>
            </a>
        </li>
        
        <li>
            <a class="" href="x_ray_order">
                <i class="fa-solid fa-x-ray"></i>
                <span>X-ray</span>
            </a>
        </li>

       
        
       
       
        <li>
            <a class="" href="Message.html">
                <i class="fa-solid fa-house"></i>
                <span>Message</span>
            </a>
        </li>
        <li>
            <a class="" href="Setting.html">
                <i class="fa-solid fa-gear"></i>
                <span>Setting</span>
            </a>
        </li>
        
    </ul>
</div>